$font: 'Source Sans Pro', sans-serif;
$primary-color: salmon;
$secundary-color: skyblue;
$tercer-color: #000;
$container-width: 100%;


header {
    
    background-color: $primary-color;
    height: 100px;
    display: flex;
    display: -webkit-flex;
    
    .logotipo {
        width: 80px;
        height: 80px;
        background-color: $tercer-color;
    }
}