$font: 'Source Sans Pro', sans-serif;
$primary-color: #83D6DE;
$secundary-color: #F1654C;
$tercer-color: #344146;
$four-color: #74bac1;

$container-full-width: 100%;
$container-medio-width: 1200px;
$container-min-width: 960px;

$container-height-full: 100vh;

$centrar: 0 auto;

$bordes-redondos: 50%;
$bordes-semi-redondos: 25%;
$bordes-min-redondos: 10%;


$color-link-menu: white;



header {
    width: $container-full-width;
    min-width: $container-min-width;    
    background-color: $primary-color;
    position: fixed;

    
    .menu {
        width: 100%;
        max-width: $container-medio-width;
        margin: $centrar;
        padding: 0 2em;
    }
    
    .menu ul {
        display: flex;
        display: -webkit-flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: $container-full-width;
    }
    
    .menu ul a {
        flex: auto;
        color: $color-link-menu;
        line-height: 4.5em;
        font-size: 1.2em;
        font-weight: 600;
        letter-spacing: 1px;
        
    }
    
    .menu ul a:not(.logotipo){
        opacity: .7;
    }
    
    .menu ul a:hover:not(.logotipo) {
        opacity: 1;
        background-color: $four-color;
    }
    
    .menu ul .logotipo {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    
    .menu ul .logotipo .iso {
        border-radius: $bordes-redondos;
        background-color: white;
        border: 10px solid $four-color;
        padding: 1em;
        width: 70px;
        height: 70px;
    }

}







