$font: 'Source Sans Pro', sans-serif;
$primary-color: #00B5B5;
$secundary-color: #ff5e08;
$tercer-color: #344146;
$four-color: #00a2a2;

$container-full-width: 100%;
$container-medio-width: 1280px;
$container-min-width: 960px;

$container-height-full: 100vh;

$centrar: 0 auto;

$bordes-redondos: 50%;
$bordes-semi-redondos: 25%;
$bordes-min-redondos: 10%;


$color-link-menu: white;



header {
    width: 100%;
    min-width: $container-min-width;    
    margin: $centrar;   
    box-shadow: 0 20px 100px -35px rgba(0,0,0, .5);
    position: fixed;
    height: 80px;

    
    .menu {
        width: 100%;
        max-width: $container-medio-width;
        margin: $centrar;

    }
    
    .menu ul {
        display: flex;
        display: -webkit-flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: $container-full-width;
    }
    
    .menu ul a {
        flex: auto;
        color: $color-link-menu;
        line-height: 80px;
        font-size: 1.1em;
        font-weight: 600;
        
    }

        
    .menu ul a:hover:not(.logotipo) {
        
        box-shadow: 0 4px 0 0 white inset;
        background-color: rgba(0, 162, 162, 0.25);
    }
    
    .menu ul a:hover:not(.logotipo):active {
        transform: scale(.95);
    }
    
    .menu ul .logotipo {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }
    
    .menu ul .logotipo .iso {
        border-radius: $bordes-redondos;
        background-color: white;
        border: 7px solid $four-color;
        width: 60px;
        height: 60px;
        transition: all .4s ease;
    }

    .menu ul .logotipo:hover .iso {
        transform: scale(1.1);
    }
    
    .menu ul .logotipo:active .iso {
        border: 7px solid $four-color;
        box-shadow: 0 0 0 30px rgba(0, 0, 0, .06);
        transform: scale(.95);
        
    }

}







