* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

body {
  text-align: center;
  background-color: #00B5B5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size-adjust: 100%;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; }

/** ETIQUETAS NATIVAS **/
header, section, article, aside, div, nav, footer, hgroup, figure, menu, main, summary, figcaption, img {
  display: block; }

/** CLEARFIX **/
.clearfix:before, .clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

img {
  position: relative;
  width: 100%; }

a {
  text-decoration: none;
  transition: all .4s; }

/** FORMULARIOS **/
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 3 */
  font-family: 'Source Sans Pro', sans-serif; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
  outline: none; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

header {
  width: 100%;
  min-width: 960px;
  margin: 0 auto;
  box-shadow: 0 20px 100px -35px rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 80px; }
  header .menu {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; }
  header .menu ul {
    display: flex;
    display: -webkit-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%; }
  header .menu ul a {
    flex: auto;
    color: white;
    line-height: 80px;
    font-size: 1.1em;
    font-weight: 600; }
  header .menu ul a:hover:not(.logotipo) {
    box-shadow: 0 4px 0 0 white inset;
    background-color: rgba(0, 162, 162, 0.25); }
  header .menu ul a:hover:not(.logotipo):active {
    transform: scale(0.95); }
  header .menu ul .logotipo {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center; }
  header .menu ul .logotipo .iso {
    border-radius: 50%;
    background-color: white;
    border: 7px solid #00a2a2;
    width: 60px;
    height: 60px;
    transition: all .4s ease; }
  header .menu ul .logotipo:hover .iso {
    transform: scale(1.1); }
  header .menu ul .logotipo:active .iso {
    border: 7px solid #00a2a2;
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.06);
    transform: scale(0.95); }

.banner {
  width: 100%;
  min-width: 960px;
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .banner .title-sub {
    color: white;
    margin-bottom: 2em;
    width: 80%; }
  .banner .title-sub h1 {
    font-size: 3.5em;
    letter-spacing: -3px;
    font-weight: bold;
    margin-bottom: .3em;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.05); }
  .banner .title-sub h3 {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: .3em;
    color: rgba(255, 255, 255, 0.8); }

/*# sourceMappingURL=main.css.map */
